$bg-color: #fff;
$primary-color: #3d65ad;
$secondary-color: #252435;
$danger-color: #df0530;
$success-color: #e2e4ff;
$white-color: #fff;
$black-color: #000;
$font-dark:#191e24;
$font-thick: #7d8185;
$font-gray: #a4a4a4;
$fb-color: #3b5998;
$span-color:#353535;

$font-family: "DM Sans";
body {
  margin: 0;
  padding: 0;
  background: $bg-color;
}

a,
span,
label,
button,
input,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: $font-family;
}
.header {
    background: $success-color;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999999;
    .logo{
        width: 110px;
        @media only screen and (max-width: 767px){
            width: 70px;
        }
    }
}  
.underConsructionSec{
    padding: 3.1% 0;
    @media only screen and (min-width: 768px)  and (max-width: 1024px) {
        padding: 7.1% 0;
    }
    .underConsructionContent{
    text-align: center;
    img{
        width: 560px;
        margin-bottom: 2rem;
        @media only screen and (max-width: 767px){
            width: 100%;
        }
    }
    h1{
        color: $primary-color;
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 1rem;
        @media only screen and (max-width: 767px){
            font-size: 25px;
        }
        @media only screen and (min-width: 768px)  and (max-width: 1024px) {
            font-size: 35px;
        }
    }
    p{
        color: $font-thick;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.7;
        text-align: center;
        @media only screen and (max-width: 767px){
            font-size: 15px;
            line-height: 1.5;
        }
        @media only screen and (min-width: 768px)  and (max-width: 1024px) {
            font-size: 16px;
        }
    }
    h6{
        color: $font-thick;
        font-size: 16px;
        font-weight: 400;
        @media only screen and (max-width: 767px){
            font-size: 14px;
        }
        @media only screen and (min-width: 768px)  and (max-width: 1024px) {
            font-size: 15px;
        }
    }
}
    
}
.footerSec {
    background: $primary-color;
    padding: 30px 0px;
    @media only screen and (max-width: 767px) {
      padding: 20px 0px;
    }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      padding: 25px 0px;
    }
    .socialMediaIcons {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;
      a {
        text-decoration: none;
      }
      .faceBookIcon {
        color: $black-color;
        font-size: 16px;
        background: $white-color;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        margin-right: 15px;
  
        @media only screen and (max-width: 767px) {
          width: 30px;
          height: 30px;
          margin-right: 10px;
        }
        &:hover {
          color: $white-color;
          background: $fb-color;
          text-decoration: none;
        }
      }
      .inistagramIcon {
        color: $black-color;
        font-size: 16px;
        background: $white-color;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        margin-right: 15px;
        @media only screen and (max-width: 767px) {
          width: 30px;
          height: 30px;
          margin-right: 10px;
        }
        &:hover {
          color: $white-color;
          background: radial-gradient(
            circle at 33% 100%,
            #fed373 4%,
            #f15245 30%,
            #d92e7f 62%,
            #9b36b7 85%,
            #515ecf
          );
          text-decoration: none;
        }
      }
      .twitterIcon {
        color: $black-color;
        font-size: 16px;
        background: $white-color;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        margin-right: 15px;
        @media only screen and (max-width: 767px) {
          width: 30px;
          height: 30px;
          margin-right: 10px;
        }
        &:hover {
          color: $white-color;
          background: $black-color;
          text-decoration: none;
        }
      }
    }
    .subPageLinks {
      display: flex;
      justify-content: center;
      margin-top: 0.7rem;
      @media only screen and (max-width: 767px) {
        margin-top: 0.5rem;
      }
      a {
        color: $white-color;
        font-size: 13px;
        font-weight: 300;
        margin-right: 10px;
        @media only screen and (max-width: 767px) {
          font-size: 11px;
          padding: 0;
          border: 0;
          margin-right: 10px;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .footerBottom {
    background: $secondary-color;
    padding: 15px 0px;
    p {
      color: $white-color;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      margin: 0;
      @media only screen and (max-width: 767px) {
        font-size: 14px;
      }
    }
  }
//   +++++++++privacyPolicy++++++++++++
.privacyPolicySec{
    padding: 4% 0;
    .privacyPolicyContent{
        h3{
            color:$black-color;
            font-size: 30px;
            font-weight: bold;
            padding-bottom: 0.7rem;
            @media only screen and (max-width: 767px) {
                font-size: 20px;
            }
        }
        h4{
            color:$font-dark;
            font-size: 18px;
            font-weight: bold;
            padding-bottom: 0.7rem;
            @media only screen and (max-width: 767px) {
                font-size: 15px;
            }
        }
        p{
            color: $font-thick;
            font-size: 15px;
            font-weight: 400;
            line-height: 1.7;
            @media only screen and (max-width: 767px) {
                font-size: 14px;
            }
        }
    }
}
//   +++++++++Terms And Conditions++++++++++++
.termsAndConditionSec{
    padding: 4% 0;
    .termsAndConditionContent{
        h3{
            color:$black-color;
            font-size: 30px;
            font-weight: bold;
            padding-bottom: 0.7rem;
            @media only screen and (max-width: 767px) {
                font-size: 20px;
            }
        }
        h4{
            color:$font-dark;
            font-size: 18px;
            font-weight: bold;
            padding-bottom: 0.7rem;
            @media only screen and (max-width: 767px) {
                font-size: 16px;
            }
        }
        p{
            color: $font-thick;
            font-size: 15px;
            font-weight: 400;
            line-height: 1.7;
               @media only screen and (max-width: 767px) {
                font-size: 14px;
            }
            span{
                color: $span-color;
                font-weight: bold;
            }
        }
        ul{
            li{
                color: $font-thick;
                font-size: 15px;
                font-weight: 400;
                line-height: 1.9;
                list-style: none;
                padding-bottom: 0.7rem;
                span{
                    color: $span-color;
                    font-weight: bold;
                }
            }
        }
    }
}